header.header
    .header__column
        a(href=route.home)
            
    .header__column
    .header__column
        ul
            if (!loggedUser)
                li
                    a(href="/user/login") SingIn
                li
                    a(href="")
            else
                li
                    p #{loggedUser.username}
                li
                    a(href=route.userDetail(loggedUser.id)) Profile
                li
                    a(href=route.logout) Logout