header
    title Wetube
    h3 
        a(href="/") Wetube
    .header__column
        ul
            if (!loggedUser)
                li
                    a(href="/user/login") SingIn
                li
                    a(href="")
            else
                li
                    p #{loggedUser.username}
                li
                    a(href="") Profile
                li
                    a(href=route.logout) Logout