.social-Login
        button.social-Login--github
            a(href="/auth/github")
                span
                    i.fab.fa-github
                |Continue with Github
        button.social-Login--facebook
            a(href="/auth/facebook")
                span
                    i.fab.fa-facebook
                |Continue with Facebook 
