<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/static/main.css")
        title WETUBE!!!
    body
        include ../partials/header.pug
        main
            block content
        include ../partials/footer.pug