.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        width: 100%;
        max-width: 20rem;
        margin-bottom: 1.75rem;  
        
        input:not([type="file"]),
        .fileUpload {
            width: 100%;
            padding-top: 0.6025rem;
            padding-bottom: 0.6025rem;
            box-shadow: 0 0.07rem 0.2rem rgba(0, 0, 0, 0.12), 0 0.07rem 0.15rem rgba(0, 0, 0, 0.24);
            border-radius: 0.3rem;
            &:not(:last-child){
                margin-bottom: 1.5rem;
            }
        }

        textarea {
            margin-bottom: 1.6rem;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

        input[type="submit"] {
            background-color: #3498db;
            color: white;
        }

        a {
            max-width: 20rem;
            width: 100%;
        }
        .fileUpload {
            label {
                font-weight: 300;
                margin-right: 0.6rem;
            }
        }
    }
}