.header {
    background-color: $red;
    margin-bottom: 3rem;
    .header__wrapper {
        i {
            color: $grey;
        }
        a {
            color: $grey;
        }
        h3 {
            font-size: 1.5rem;
        }
    }
}