extends layouts/index.pug
include mixins/videoBlock

block content
    .home-videos
        each item in entireVideo
            +videoBlock(item)
            +videoBlock(item)
            +videoBlock(item)