extends layouts/index.pug
include mixins/videoBlock

block content
    .home-videos
        each item in entireVideo
            +videoBlock(item)
        else 
            .empty
                h4 No Content yet