extends layouts/index.pug

block content
    form(action="/user/login" method="post")
        div(class="imgcontainer")
        div(class="container")
            label
                b Username
            input(type="text" placeholder="Enter Username" name="username" required)
            label(for="psw")
                b Password
            input(type="password" placeholder="Enter Password" name="password" required)
            button(type="submit") Login
                
        div(class="container" style="background-color:#f1f1f1")
            span(class="psw") Forget
                a(href="#") password?
    button
        a(href="/auth/facebook")
            span
                |Facebook Login
    button
        a(href="/auth/github")
            span
                |Github Login

    a(href="/user/signup") Sign Up