extends layouts/index.pug
include mixins/videoBlock

block content
    .creator__videos
        each item in creatorVideos
            +videoBlock(item)
        else 
            .empty
                h4 No content yet.
