extends layouts/index.pug
include mixins/videoBlock

block content
    p profile
    .creator__videos
        each item in creatorVideos
            +videoBlock(item={
                id: item.id,
                fileUrl: item.fileUrl,
                title: item.title
            })
                a(href="sdf")
                    h6.videoBlock__creator #{loggedUser.username}
        else 
            .empty
                h4 No content yet.
    
