extends layouts/index.pug
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:detailVideo.fileUrl
        })
        .video__info
            if loggedUser && detailVideo.creator._id == loggedUser.id 
                a(href="123")
                    button Edit Video
            //-여기 두개 type 왜 다른겅미
            h5.video__title=detailVideo.title
            p.video__description=detailVideo.description
            if detailVideo.views === 1
                span.video__views 1 views
            else
                span.video__views #{detailVideo.views} views
        .video__comments
            if detailVideo.comments.length === 1
                span.video__comment-number 1 comment
            else
                span.video__comment-number #{detailVideo.comments.length} comments
